body {
  position: relative;
  width: 1440px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 26px;
  line-height: 38px;
  color: #ffffff;
  background: #222222;
}

a {
  color: #cbcbcb;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

h1 {
  font-size: 67px;
  line-height: 80px;
  font-weight: bold;
}

h2 {
  font-size: 67px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 42px;
  line-height: 54px;
}

.container {
  margin: 40px;
}

.page-menu {
  position: absolute;
  box-align: right;
  font-weight: bold;
  left: 689px;
  top: 8px;
}

.work {
  margin-right: 65px;
}

.service {
  margin-right: 65px;
}

.command {
  margin-right: 65px;
}

.contact {
  margin-right: 65px;
}

.main-intro {
  padding-top: 90px;
  margin-bottom: 75px;
}

.text-intro {
  width: 895px;
}